* {
    box-sizing: border-box;
}

body {
    font-family: 'Chivo' , sans-serif;
    font-style: normal;
    background-image: url( ./styles/image-host.jpg);
    background-size: cover;
    background-color: #121725;
    
}

.bg-ground {
    position: absolute;
    background-color: #121725;
    height: 132%;
    width: 100%;
    mix-blend-mode: multiply;
    z-index: -5;
    margin-top: -72px;
    
    
    
}

.container {
    margin: 24px;

}

.header-logo {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    
}

.logos {
    display: flex;
    justify-content: space-between;
}

.spotify {
    height: 16,95px;
    width: 55,94px;
}
.apple {
    height: 17px;
    width: 45px;
}
.google {
    height: 11px;
    width: 73px;
}
.pocket {
    height: 15px;
    width: 77px;
}



.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.text h2  {
    font-family: 'Chivo';
    margin-top: 57px;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #54E6AF;

}

.text p {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #C2CBE5;
    margin-bottom: 33px;
}
span {
    color: white;
}

#error {
    color: red;
    display: none;
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: -15px 25px;
}

.auth {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 48px;
    padding-bottom: 94px;
}
.auth #mail {
    background-color: #2C344B;
    border-radius: 28px;
    height: 46px;
    border: none;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-left: 32px;
}

.auth .button {
    border-radius: 28px;
    height: 46px;
    background-color: #54E6AF;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
    border: none;
    font-family: 'chivo';
    font-size: 14px;
    line-height: 28px;
    color: #121725;
    cursor: pointer;
    
}
@media screen and (min-width:768px) {
    body {
        font-family: 'Chivo', sans-serif;
        background-color: #121725;
        background-image: none;
        
        

} 
.bg-ground { 
    background-color: #121725;
    background-image: url(./styles/tablet-image-host.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    mix-blend-mode: normal;

}
.bg-logo {
        background-image: url(./styles/desktop/bg-pattern-dots.svg);
        background-size: contain;
        background-position: bottom left;
        background-repeat: no-repeat;
        width: 232px;
        height: 104px;
        margin-top: 153px;
}
.header-logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 39px;
}

.container {
    width: 635px;
    background-color: #121725;
    margin-top: 60px;
    margin: 39px;
}


.footer {
    display: flex;
    flex-direction: column-reverse;
}
    
.logos {
    display: flex;
    justify-content: flex-start;
    gap: 48px;
    padding-left: 10px;
    
}
.spotify {
    height: 29px;
    width: 96px;
}
.apple {
    height: 29px;
    width: 78px;
}
.google {
    height: 18px;
    width: 125px;
}
.pocket {
    height: 26px;
    width: 129px;
}
.auth {
    position: relative;

}

.auth #mail {
    width: 427px;
    height: 56px;
    margin-left: 3px;
    margin-bottom: -15px;
}
.auth .button {
    position: absolute;
    transform: translate(162%);
    top: 6px;
    width: 162px;
    height: 46px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    


}
.text h2 {
    font-family: 'Chivo';
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
    margin-top: 80px;


}
.text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-right: 190px;
    text-align: left;
}

#error {
    margin-top: 60px;
}
}

@media screen and (min-width:1440px) {
    body {
        background-color: #121725;
        background-image: none;
        max-width: 1440px;
        
    }
    .bg-ground { 
        width: 100%;
        background-color: #121725;
        background-image: url("./styles/desktop/desktop-image-host.jpg");
        background-repeat: no-repeat;
        background-position-x: right;
        position: absolute;
        transform: translateY(70px);
    }   
    
    .bg-logo {
        background-image: none;
        background-image: url(./styles/desktop/bg-pattern-dots.svg);
        background-repeat: no-repeat;
        width: 232px;
        height: 104px;
        position: absolute;
        margin-top: -120px;
        margin-left: 72%;  
    }

    .header-logo {
        margin-left: 165px;
    }

    .container {
        margin-left: 165px;
        width: 723px;
    }

.text h2 {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
}

.text p {
    ont-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
        
}